.split-pane *.split-pane-divider {
    -fx-padding: 0.0 1.0 0.0 1.0;
}

/*  */
#buttonOfNewFile {
	-fx-background-image: url('/images/newfile.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

#buttonOfOpenFile {
	-fx-background-image: url('/images/openfile.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

#buttonOfSave {
	-fx-background-image: url('/images/save.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

#buttonOfSaveAs {
	-fx-background-image: url('/images/saveas.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

#buttonOfPrint {
	-fx-background-image: url('/images/print.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

#buttonOfSettings {
	-fx-background-image: url('/images/settings.png');
	-fx-background-size: 30.0px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90.0%;
}

.button {
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0.0, 1.0, 2.0;
    -fx-background-radius: 5.0, 4.0, 3.0;

}

#about{
	-fx-background-color: lightblue;
	-fx-border-color: lightblue;
	-fx-border-width: 1.0px;
}

#close{
	 -fx-background-color: transparent;
	 -fx-background-radius: 0.0,0.0,0.0;
	 -fx-graphic: url("/images/close-icon.gif");

}

#header1{
	-fx-text-fill : rgb(0,0,0);
	-fx-font-size: 18px;

}

#version{
	-fx-text-fill : rgb(0,90,0);
	-fx-font-size: 12px;
    -fx-font-style: italic;
}

#link{
	-fx-text-fill : rgb(160,0,0);
	-fx-font-size: 16px;

}
#link2{
	-fx-text-fill : rgb(160,0,0);
	-fx-font-size: 16px;

}
#link3{
	-fx-text-fill : rgb(160,0,0);
	-fx-font-size: 16px;

}
#welcome{
	-fx-background-color: lightblue;
                -fx-background-image: url("/images/background.jpg");
                -fx-background-repeat: no-repeat;
	-fx-border-color: lightblue;
	-fx-border-width: 1.0px;
}