/*
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
    -fx-faint-focus-color: transparent;
}
*/
.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* LineChart */
.chart-series-line {
    -fx-stroke-width: 2.0px;
    -fx-effect: null;
}

#filterBox {

}

/* Close Button in filterBox */
.close{
	 -fx-background-color: transparent;
	 -fx-background-radius: 0.0,0.0,0.0;
	 -fx-graphic: url("/images/close-icon.gif");
	 -fx-padding: 0;
}